body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  filter: blur(2px);
  z-index: -1;
}

body {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 166, 0);
  margin: 0;
  text-align: center;
  background-image: url("img/fragrance.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  padding: 10px 20px 12px 20px;
  margin: 0px;
  font-size: 5em;
  color: rgb(255, 166, 0);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

h2 {
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

p {
  padding: 6px 20px 6px 20px;
  font-size:1.5em;
  margin: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}
